section {
    gap: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10%;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 15px;
}